:root {
  /* Palette */
  --primary-color: #29b6f6; /* Elegir los colores apropiados para la paleta y añadir más propiedades si hacen falta*/
  --accent-color:#ffab40;
  --warn-color: red;
  --shadow-color: lightgrey;
  --contrast-font-color: white;
  --secondary-font-color: darkgrey;

  /* Sizes */
  --full-width: 100%;
  --side-margin: 30px;
  --form-top-margin: 30px;
  --field-font-size: 16px;

  /* Font */
  --font-family: Arial, Helvetica, sans-serif;
  --title-font-size: 26px;
  --normal-font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-size: var(--normal-font-size);
    width: var(--full-width);
    margin: 0;
}

.header{
    background-color: var(--primary-color);
    height: 100px; /* Definir altura apropiada y considerar si utilizar una variable o no */
    /* Alinear título y darle tamaño, añadir logo, etc..*/
    color: white;
    font-size: var(--title-font-size);
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
}

.header div {
    align-self: center;
}

.link-button {
    text-decoration: none;
    font-size: var(--normal-font-size);
    color: white;
    margin-left: 15px;
    padding: 15px;
    background: transparent;
    border: 1px solid white;
    border-radius: 3px;
}

.link-button:hover {
    background: white;
    color: var(--primary-color);
}

@media (min-width: 1500px) { 
    .content {
        width: 50% !important;
    }
}

.content {
    width: 70%;
    margin: 0 auto;
    min-height: 300px;
}

.footer{
    background-color: #266792;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    color: white;
    padding-top: var(--side-margin);
    margin-top: var(--side-margin);
}

.footer div {
    align-self: center;
}

.footer i {
    font-size: 36px;
    margin: 10px;
}

h2 {
    color: #29b6f6;
    text-align: center;
    font-weight: normal;
    font-size: 36pt;
}

h3 {
    color: grey;
    text-align: center;
    font-weight: normal;
    font-size: 24pt;
}

/* Form Styling */
form div {
    display: flex;
    /* As labels go after inputs in order to select them when input is focused, column-reverse will show labels first*/
    flex-direction: column-reverse; 
    margin-top: var(--form-top-margin);
}

/* Leave only bottom border on inputs */
form input, 
select {
    border-top: none;
    border-left: none;
    border-right: none;
    height: var(--side-margin);
    font-size: var(--field-font-size);
}

/* Highlight border bottom to primary color on focus and remove full default highlight*/
form input:focus, 
select:focus{
    outline-width: 0;
    border-bottom-color: var(--primary-color);
}

form label{
    color: var(--secondary-font-color);
    font-style: italic;
}

/* Select input's acompaining label to set it to primary color too */
form input:focus + label{
    color: var(--primary-color);
}

/* Form button material styles like */
form [type="submit"] {
    border: none;
    padding: 8px;
    background-color: var(--accent-color);
    color: var(--contrast-font-color);
    box-shadow: 2px 2px 2px var(--shadow-color);
    margin-right: 0px;
}

form [type="submit"]:active {
    border: none;
    padding: 10px;
    background-color: grey;
    box-shadow: 2px 6px 2px var(--shadow-color);
}

.errorMessage {
    color: red;
}

.form-card {
    width: 100%;
    min-width: 650px;
    margin: 0 auto;
    border: 1px solid var(--shadow-color);
    margin-top: var(--side-margin);
}

.form-card img{
    width: 100%;
}